# Web Framework and API
httptools
python-multipart

# Database and ORM
aiomysql
alembic
rq
sqlalchemy[asyncio]
sqlglot

# Utilities and Helpers
blinker
pydantic
pydantic_settings
snowflake-id
typer
tabulate

ortools
numpy
pandas
protobuf