# Web Framework and API
httptools
python-multipart

# Database and ORM
aiomysql
alembic
rq
sqlalchemy[asyncio]
sqlglot

# File and Data Processing
filetype
fsspec
lxml
markdownify
morefs[asynclocalfs]
orjson
ossfs
pyyaml
python-pptx
trafilatura
xmltodict

# Utilities and Helpers
async_lru
blinker
loguru
pydantic
pydantic_settings
python-jose[cryptography]
snowflake-id
typer
tabulate
# lingua-language-detector
